<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssc.mycarassistant"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ssc.mycarassistant.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ssc.mycarassistant.ToFuelMgr"
            android:configChanges="orientation"
            android:label="@string/title_activity_to_fuel_mgr" >
        </activity>
        <activity
            android:name="com.ssc.mycarassistant.RepailMgr"
            android:label="@string/title_activity_repail_mgr" >
        </activity>

        <provider
            android:name="com.ssc.mycarassistant.CarAssistantProvider"
            android:authorities="com.ssc.provider.carassistant"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name="com.ssc.mycarassistant.ManagerActivity"
            android:label="@string/title_activity_manager" >
        </activity>
        <activity
            android:name="com.ssc.mycarassistant.ToFuelRecordEditor"
            android:label="@string/title_activity_to_fuel_record_editor" >
        </activity>
    </application>

</manifest>
